.headingClass {
    font-weight: bold;
}

.headerBorder {
    border: 1px Black solid !important;
}

.headerBorder1 {
    border: 1px Black solid !important;
    padding: 6.5px;
}

.headerTopCss {
    color: white;
    font-weight: bold;
    background: #cca300;
    text-align: center;
}

.container {
    margin: 20px;
}

.submit-button {
    background: #710f12;
    color: white;
    text-align: center;
}

.slds-button:focus {
    background: #710f12;
    color: white;
}

.slds-button:hover {
    background: #710f12;
    color: white;
}
.text-cls {
    background: white;
    color: #710f12;
}

.input1 {
    padding: 0px !important;
    margin: 0px !important;
    border-radius: 0px !important;
    border: none !important;
    min-height: 35.7px !important;
    float: left !important;
    width: 100% !important;
}

.input2 {
    padding: 0px !important;
    margin: 0px !important;
    border-radius: 0px !important;
    border: 1px solid !important;
    min-height: 34.58px !important;
    float: left !important;
    width: 100% !important;
}

.input3 {
    padding: 0px !important;
    margin: 0px !important;
    border-radius: 0px !important;
    border: 1px solid !important;
    min-height: 29.58px !important;
    float: left !important;
    width: 100% !important;
}

.input2:focus {
    padding: 0px !important;
    margin: 0px !important;
    border-radius: 0px !important;
    border: 1px solid !important;
    min-height: 34.58px !important;
    float: left !important;
    width: 100% !important;
}