.custom-top-botton-p-small{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}
.custom-p-top-large{
    padding-top: 28px;
}
.slds-modal__container {
    max-width: 80rem !important;
    width: 80% !important;
}