.css-data-table .slds-input {
    height: inherit;
    min-height: inherit;
    line-height: inherit;
    padding: 0 .5rem;
}
.css-data-table [role=combobox] input[readonly] {
    padding-left: 0.5rem;
}
.css-data-table .slds-combobox__input {
    padding: 0 1.5rem;
    padding-left: .5rem;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.css-cell-edit:hover .table-edit-icon{
    visibility: visible !important;
}
.css-pagination-search input{
    height: 1.5rem;
    min-height: 1.5rem;
    padding: .5rem;
	padding-left: 1.8rem;
}
.css-pagination-input input{
    height: 1.5rem;
    min-height: 1.5rem;
    width: 3rem;
    text-align: center;
    padding: .5rem;
}
.slds-datepicker .slds-day:hover {
    border-radius: 50%;
    margin: auto;
    background-color: #ecebea;
}

.customCombobox label.slds-form-element__label, .textArea label.slds-form-element__label{
    display: none !important; 
}

.customCombobox lightning-base-combobox-item{
	padding-bottom: 0.1rem !important;
    padding-top: 0.1rem !important;
	font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    font-size: 12px;
	--lwc-colorBackgroundRowHover:rgb(27, 150, 255);
}

.customCombobox .slds-dropdown_fluid {
	min-width: max-content;

}

.customCombobox lightning-base-combobox-item lightning-primitive-icon {
    display : none !important;

}

.customCombobox .slds-listbox__option:hover {
    background: rgb(27, 150, 255);
	color: rgb(243, 243, 243);

}
.customCombobox .slds-listbox__option.slds-has-focus  {
    background: rgb(27, 150, 255);
	color: rgb(243, 243, 243);
}

.customCombobox .slds-listbox_vertical .slds-listbox__option_plain{
	padding-left :unset !important;
}
.customCombobox .slds-listbox__option-icon{
    width: unset;
}